.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(167, 167, 240);
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login img {
  width: 200px;
  border-radius: 100px;
}


